<h1>Ajouter un livre</h1>

<form method="POST" action="/livres/ajouter">
    <input name="titre" placeholder="Titre" required />
    <input name="auteur" placeholder="Auteur" required />
    <input name="annee" placeholder="Année" required />
    <textarea name="resume"></textarea>

    <button type="submit">Ajouter</button>
</form>